<h1><%= @category.name %></h1>
<p><%= @category.status %></p>

<ul>
  <% @category.items.all.each do |item| %>
    <li>
      <%= link_to item.name, item %>
    </li>
  <% end %>
</ul>



<ul>
  <li><%= link_to "Edit", edit_category_path(@category) %></li>
  <li><%= link_to "Destroy", category_path(@category), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>